<div class="container-fluid">
  <div class="row">
    <form class="form-horizontal" role="form">

      <div class="form-group">
        <label for="tzone" class="control-label">Convert To TimeZone</label>
        <input type="text" data-ng-model="tzone" typeahead="tz.tzone for tz in tzones | filter:$viewValue | limitTo:10" class="form-control">
      </div>
      <button data-ng-click="convert(tzone)">Convert</button>
    </form>
  </div>
  <div class="row">
    <dl>
      <dt>ISO Date Time in {{currentTime.tz}}</dt><dd>{{currentTime.time | date:"yyyy-MM-ddTHH:mm:ss.sss"}}</dd>
      <dt>Simple Time in {{currentTime.tz}}</dt><dd>{{currentTime.time | date:"mediumTime"}}</dd>
    </dl>
  </div>
</div>

